@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

.thumbnail {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
}

.small-thumbnail {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
}

.channel-thumbnail{
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 50%;
  padding: 0;
}

.channel-thumbnail-lg{
  height: 42px;
  width: 42px;
  margin-right: 8px;
  border-radius: 50%;
  padding: 0;
}

.channel-info {
  font-size: 0.9rem;
  margin-top: 5px;
  color: gray;
}
